.App {
  text-align: center;
  background-color: #30363b;
  /* height: 100vh; */
}
.gameArea {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-start: -1;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}

.gameInfo {
  /* padding: inherit; */
  margin: auto;
}

.square {
  width: 30px;
  height: 30px;
  color: white;
  background: rgb(51, 52, 53);
  outline: 1px solid rgb(0, 0, 0);
  display: inline-block;
}

.grid-base {
  min-width: 450px;
  margin: 20px 0 0;
}
.grid-row {
  height: 30px;
}
.square-start {
  background-color: burlywood;
}
.square-empty {
  background-color: rgb(129, 175, 236);
  /* #093be5 */
}
.square-active {
  background-color: #01579b;
}
.scoreArea {
  margin: 10px auto;
  width: 450px;
  /* border: 1px solid rgb(129, 175, 236); */
  padding: 5px;
  color: white;
}
.gameOver {
  color: rgb(255, 149, 149);
}

.table-container {
  overflow: hidden;
  width: 300px;
  max-height: 300px;
  border: 1px solid #01579b;
}

th {
  position: sticky;
  top: 0;
  background: #343a40;
}
