.App {
  text-align: center;
}
.square {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(147, 173, 192);
  display: inline-block;
}
.grid-base {
  margin: 100px 0 0;
}
.grid-row {
  height: 25px;
}
.square-start {
  background-color: burlywood;
}
